body {
    text-align: center;
    font-family: Arial, sans-serif;
}

.calculator {
    margin: 50px auto;
    width: 300px;
    background-color: red;
    border: 5px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 5px 5px 10px ;
    text-align: center; 
}

#display {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    box-sizing: border-box; 
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    background-color: blue;
    border-radius: 5px; 
    padding: 10px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: yellow;
    width: 100%;
    border: none;
}
